<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bademo-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6ac7d027-28ad-4a08-a9d6-46a757c2aded/resourceGroups/func-rg/providers/Microsoft.Web/sites/bademo-func</ResourceId>
    <UserName>$bademo-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://bademo-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>